@{
    ViewData["Title"] = "Créditos";
}

<div class="container mt-5">
    <h2>Créditos do Projeto</h2>
    <hr />

    <h4>Curso, Disciplina e Ano Letivo</h4>
    <p>Licenciatura em Engenharia Informática – Desenvolvimento Web (DWEB)<br />Ano Letivo: 2024/2025</p>

    <h4>Alunos</h4>
    <ul>
        <li>24863 – João Silva</li>
        <li>23878 – Guilherme Aires</li>
    </ul>

    <h4>Bibliotecas, Frameworks e Código de Terceiros</h4>
    <ul>
        <li>ASP.NET Core MVC – <a href="https://dotnet.microsoft.com/apps/aspnet">Microsoft</a></li>
        <li>Bootstrap 5 – <a href="https://getbootstrap.com/">https://getbootstrap.com/</a></li>
        <li>Font Awesome – <a href="https://fontawesome.com/">https://fontawesome.com/</a></li>
        <li>jQuery – <a href="https://jquery.com/">https://jquery.com/</a></li>
    </ul>

    <h4>Credenciais de Acesso</h4>
    <ul>
        <li><strong>Administrador:</strong> admin@sequemusic.com / Admin123!</li>
        <li><strong>Utilizador normal:</strong> user@sequemusic.com / User123!</li>
    </ul>
</div>
