@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à SequeMusic!</h1>
    <p>A tua plataforma para descobrir, ouvir e partilhar música.</p>

    
</div>